<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form id="login">
        <input type="eamil" id="email" name="email" placeholder="email" required>
        <input type="password" id="password" name="password" placeholder="password" required>
        <input type="submit" value="login">
    </form>
    <button type="submit" id="forgot">Forgot Password</button>
    <div><a href="signup.html" >New user? click here!</a></div>
    <div><h3 id="login-error"></h3></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
<script src="login.js"></script>
</html>